{{ define "main" }}
<section class="work section mt-5" id="work">
    <h2 class="section__title">{{ .Title }}</h2>
    <span class="section__subtitle work__subtitle h4 mb-1">{{ .Description }}</span>
    <div class="c-teams px-3">
    {{ range sort (where .Site.RegularPages "Type" "equipe") ".Params.index" "asc"  }}
    	{{ if  ne .Title "equipe" }}
		{{ $randomVar := shuffle (slice "#763dab" "#dc3545" "#fab302" "#1c6141" "#437aac") }}
		{{ $selectedVar := index $randomVar 0 }}
		    <a
		    	#href="/equipe/{{ .Params.slug }}"
		      	class="c-team enter-fade-up enter-delay-1 background-gradient"
		      	data-color="{{ $selectedVar }}"
		    >
		      <div
		        class="c-team__image"
		        style="background-image: url('{{ .Params.foto }}')"
		      >
			  </div>
		      <div class="c-team__info" style="background: {{ $selectedVar }}">
		        <div class="c-team__title">{{ .Title }}</div>
		        <div class="c-team__subtitle">{{ .Params.area }}</div>
		      </div>
		    </a>
    	{{end}}
    {{ end }}

	</div>
 </section>
{{ end }}