<section class="work section" style="padding-top:0;" id="work">
  <h2 class="section__title">{{ .Params.Portfolio }}</h2>
  <span class="section__subtitle work__subtitle h4 mb-1">{{ .Params.PortfolioB }}</span>
  <div class="c-cases px-3" style="margin:3.2rem auto 3.2rem">
    {{ $portfolioPages := (where .Site.RegularPages "Type" "portfolio") }}
    {{ $randomPages := shuffle $portfolioPages }}
    {{ range first 2 $randomPages }}
      {{ if ne .Title "Portfólio" }}
      {{ $randomVar := shuffle (slice "#763dab" "#dc3545" "#fab302" "#1c6141" "#437aac") }}
      {{ $selectedVar := index $randomVar 0 }}
        <a
          href="/portfolio/posts/{{ .File.BaseFileName }}"
          class="c-case enter-fade-up enter-delay-1 background-gradient"
          data-color="{{ $selectedVar }}"
        >
          <div
            class="c-case__image"
            style="background-image: url('{{ .Params.image }}')"
          >
          </div>
          <div class="c-case__info" style="background: {{ $selectedVar }}">
            <div class="c-case__title">{{ .Title }}</div>
            <div class="c-case__subtitle">{{ .Params.job_type }}</div>
          </div>
        </a>
      {{ end }}
    {{ end }}
</div>
<div style="font-weight: bold; text-align: center;">
  <a href="/portfolio" class="button button--flex"> Ver Todos </a>
</div>
</section>