<div class="c-social container work__container">
  <h3 class="c-social__title">

    <div class="reprint">
      <div>
        {{ if .Params.authorA }}
        <span>
          <i class="icon-user c-social-links__icon"></i>
        </span>
        <span style="font-weight: bold;">
          Produção: {{ .Params.authorA }}</a>
        </span>
      {{ end }}
      </div>
      <div>
        {{ if .Params.authorB }}
        <span>
          <i class="icon-user c-social-links__icon"></i>
        </span>
        <span style="font-weight: bold;">
          Produção: {{ .Params.authorB }}</a>
        </span>
      {{ end }}
      </div>
      <div>
        {{ if .Params.authorC }}
        <span>
          <i class="icon-user c-social-links__icon"></i>
        </span>
        <span style="font-weight: bold;">
          Produção: {{ .Params.authorC }}</a>
        </span>
      {{ end }}
      </div>
      <div>
        <span>
          <i class="icon-time c-social-links__icon"></i>
        </span>
        <span style="font-weight: bold;">
          Cliente: {{ .Params.cliente }}
        </span>
        <span style="font-weight: bold;">
          Quer um projeto assim? Manda um alô no nosso<a href="{{ .Site.Params.Instagram }}">instagram</a>.
        </span>
      </div>
  </h3>
  </ul>
</div>