{{ define "main" }}
<section class="work section mt-5" id="work">
  <h2 class="section__title">{{ .Title }}</h2>
  <span class="section__subtitle work__subtitle h4 mb-1">{{ .Description }}</span>
  <div class="c-cases px-3">
    {{ $portfolioPages := (where .Site.RegularPages "Type" "portfolio") }}
    {{ $randomPages := shuffle $portfolioPages }}
    {{ range first 12 $randomPages }}
      {{ if ne .Title "Portfólio" }}
      {{ $randomVar := shuffle (slice "#763dab" "#dc3545" "#fab302" "#1c6141" "#437aac") }}
      {{ $selectedVar := index $randomVar 0 }}
        <a
          href="/portfolio/job/{{ .File.BaseFileName }}"
          class="c-case enter-fade-up enter-delay-1 background-gradient"
          data-color="{{ $selectedVar }}"
        >
          <div
            class="c-case__image"
            style="background-image: url('{{ .Params.image }}')"
          >
          </div>
          <div class="c-case__info" style="background: {{ $selectedVar }}">
            <div class="c-case__title">{{ .Title }}</div>
            <div class="c-case__subtitle">{{ .Params.job_type }}</div>
          </div>
        </a>
      {{ end }}
    {{ end }}
</div>
{{ end }}