@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?qibg3x');
  src:  url('../fonts/icomoon.eot?qibg3x#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?qibg3x') format('truetype'),
    url('../fonts/icomoon.woff?qibg3x') format('woff'),
    url('../fonts/icomoon.svg?qibg3x#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-bilibili:before {
  content: "\e900";
}
.icon-blog:before {
  content: "\e901";
}
.icon-copyright:before {
  content: "\e902";
}
.icon-envelope:before {
  content: "\e903";
}
.icon-github:before {
  content: "\e904";
}
.icon-house:before {
  content: "\e905";
}
.icon-link:before {
  content: "\e906";
}
.icon-map-location-dot:before {
  content: "\e907";
}
.icon-moon:before {
  content: "\e908";
}
.icon-phone-flip:before {
  content: "\e909";
}
.icon-sun:before {
  content: "\e90a";
}
.icon-telegram:before {
  content: "\e90b";
}
.icon-time:before {
  content: "\e90c";
}
.icon-user:before {
  content: "\e90d";
}
.icon-window-restore:before {
  content: "\e90e";
}
.icon-xmark:before {
  content: "\e90f";
}

b, strong {
  font-weight: 700;
  color: var(--first-color);
}