{{ define "main" }}
<section class="contact section mt-5" id="contact">
  <h2 class="section__title">{{ .Title }}</h2>
  <br>
  <div class="contact__container container grid">
    <div>
      <div class="contact__information">
        <div>
          <span class="container work__container">{{ .Content }}</span>
        </div>
      </div>
    </div>
    {{ if eq .Site.Params.forms_object "Netlify" }}
    <!-- Netlify forms -->
    <form name="seletiva23" action="/sucesso/" method="post" class="contact__form grid" data-netlify="true">
    {{ else if eq .Site.Params.forms_object "Formspree" }}
    <!-- Formspree forms -->
    <form name="seletiva23" action="https://formspree.io/f/{{ .Site.Params.form_id }}" class="contact__form grid" method="post">
    {{ else }}
    <!-- None -->
    <form name="seletiva23" action="/sucesso/" method="post" class="contact__form grid" data-netlify="true">
    {{ end }}
      <input type="hidden" name="form-name" value="contact" />
      <div class="contact__inputs grid">
        <div class="contact__content">
          <label for="" class="contact__label">Nome</label>
          <input type="text" name="name" class="contact__input" required />
        </div>
        <div class="contact__content">
          <label for="" class="contact__label">E-mail</label>
          <input type="email" name="email" class="contact__input" required />
        </div>
        <div class="contact__content">
          <label for="" class="contact__label">Celular(Whatsapp)</label>
          <input type="tel" name="whatsapp" class="contact__input" required />
        </div>
        <div class="contact__content">
          <label for="" class="contact__label">A Sapiens é feita de ideias, qual é a sua?</label>
          <textarea cols="0" name="message" rows="7" class="contact__input" required minlength="20" placeholder="Fale um pouco sobre você, o seu curso, o que você sabe fazer/quer aprender e no que você agregaria à nossa agência."></textarea>
        </div>
        <div>
          <button type="submit" class="button button--flex">Enviar<i
              class="fas fa-paper-plane button__icon"></i><uil-message class="button__icon" /></button>
        </div>
      </div>
    </form>
  </div>
</section>
{{ end }}

