{{ define "main" }}
<section class="contact section mt-5" id="contact">
  <h2 class="section__title">{{ .Title }}</h2>
  <br>
  <div class="contact__container container grid">
    <div>
      <div class="contact__information">
        <div>
          <span class="container work__container">{{ .Content }}</span>
        </div>
      </div>
    </div>
    {{ if eq .Site.Params.forms_object "Netlify" }}
    <!-- Netlify forms -->
    <form name="seletiva" method="POST" data-netlify="true">
      <p>
        <label>Your Name: <input type="text" name="name" /></label>
      </p>
      <p>
        <label>Your Email: <input type="email" name="email" /></label>
      </p>
      <p>
        <label>Your Role: <select name="role[]" multiple>
          <option value="leader">Leader</option>
          <option value="follower">Follower</option>
        </select></label>
      </p>
      <p>
        <label>Message: <textarea name="message"></textarea></label>
      </p>
      <p>
        <button type="submit">Send</button>
      </p>
    </form>
    
  </div>
</section>
{{ end }}

