{{ define "main" }}
<style>
    .img {
        max-width: 50%;
        margin: auto;
      }
</style>
<body>
<section class="about section mt-5" id="about">
    <h3 class="section__title">Tudo certo! Já Recebemos aqui!</h3>
</section>

        <div class="img">
            <img src="/images/success.svg" alt="sucesso" class="vector" />
        </div>
        <div class="logo" id="jump" style="text-align: center; margin: 0;" onclick="backHistory()"></div>
    </section>
    </div>

    <script>
        var div = document.getElementById("jump");
        var timer = 5;
        function backHistory() {
            if (history.length > 2) {
                history.back();
            } else {
                location.href = "/";
            }
        }
        setInterval(function () {
            if (timer == 0) {
                backHistory();
            }
            else {
                div.innerHTML = 'Você será mandado pra terra em ' + timer + ' segundos!<br/>（Clique para ir agora）';
                timer--;
            }
        }, 5000)
    </script>
</body>
{{ end }}